{% extends "base.html" %}
{% block title %} Nevan Padayachee {% endblock%}
{% block content %}
<section id="content">
    <div class="container">
        <div class="row">
            <div class="col-12">

                <!-- Main Content -->
                <section>
                    <header>
                        <h2>Students Math Results</h2>
                        <h3>Introduction</h3>
                    </header>
                    <p>
                        The data was obtained in a survey of students math courses in secondary school.
                        The data was collected from two schools, Gabriel Pereira and Mousinho da Silverira
                        It contains a lot of interesting social, gender and study information about students.
                        An analysis of student behaviour was conducted to see how to improve students final
                        grade. The following diagrams shows the correlation between many of the important
                        datasets.
                    </p>
                    <p>
                    <h3>The following is a list of all the student data:</h3>
                        <ul>
                            <li>school - student's school (binary: 'GP' - Gabriel Pereira or 'MS' - Mousinho da Silveira)</li>
                            <li>sex - student's sex (binary: 'F' - female or 'M' - male)</li>
                            <li>age - student's age (numeric: from 15 to 22)</li>
                            <li>address - student's home address type (binary: 'U' - urban or 'R' - rural)</li>
                            <li>famsize - family size (binary: 'LE3' - less or equal to 3 or 'GT3' - greater than 3)</li>
                            <li>Pstatus - parent's cohabitation status (binary: 'T' - living together or 'A' - apart)</li>
                            <li>Medu - mother's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)</li>
                            <li>Fedu - father's education (numeric: 0 - none, 1 - primary education (4th grade), 2 – 5th to 9th grade, 3 – secondary education or 4 – higher education)</li>
                            <li>Mjob - mother's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')</li>
                            <li>Fjob - father's job (nominal: 'teacher', 'health' care related, civil 'services' (e.g. administrative or police), 'at_home' or 'other')</li>
                            <li>reason - reason to choose this school (nominal: close to 'home', school 'reputation', 'course' preference or 'other')</li>
                            <li>guardian - student's guardian (nominal: 'mother', 'father' or 'other')</li>
                            <li>traveltime - home to school travel time (numeric: 1 - 1 hour)</li>
                            <li>studytime - weekly study time (numeric: 1 - 10 hours)</li>
                            <li>failures - number of past class failures (numeric: n if 1<=n<3, else 4)</li>
                            <li>schoolsup - extra educational support (binary: yes or no)</li>
                            <li>famsup - family educational support (binary: yes or no)</li>
                            <li>paid - extra paid classes within the course subject (Math ) (binary: yes or no)</li>
                            <li>activities - extra-curricular activities (binary: yes or no)</li>
                            <li>nursery - attended nursery school (binary: yes or no)</li>
                            <li>higher - wants to take higher education (binary: yes or no)</li>
                            <li>internet - Internet access at home (binary: yes or no)</li>
                            <li>romantic - with a romantic relationship (binary: yes or no)</li>
                            <li>famrel - quality of family relationships (numeric: from 1 - very bad to 5 - excellent)</li>
                            <li>freetime - free time after school (numeric: from 1 - very low to 5 - very high)</li>
                            <li>goout - going out with friends (numeric: from 1 - very low to 5 - very high)</li>
                            <li>Dalc - workday alcohol consumption (numeric: from 1 - very low to 5 - very high)</li>
                            <li>Walc - weekend alcohol consumption (numeric: from 1 - very low to 5 - very high)</li>
                            <li>health - current health status (numeric: from 1 - very bad to 5 - very good)</li>
                            <li>absences - number of school absences (numeric: from 0 to 93)</li>
                            <li>G1 - first period grade (numeric: from 0 to 20)</li>
                            <li>G2 - second period grade (numeric: from 0 to 20)</li>
                            <li>G3 - final grade (numeric: from 0 to 20, output target)</li>
                        </ul>
                    </p>
                    <h3>What is a correlation</h3>
                    <p>
                        A correlation is an association/relationship two variables have with each other.
                        A positive correlation is when one variable increase the other variable increases
                        or when on variable decreases the other one decreases.
                        A negative correlation is when one variable increase the other decreases or when
                        one variable decreases the other increases.
                    </p>
                    <h3>The following figures show the correlation between many different variables of note:</h3>
                    <p>
                        Figure 1 shows all the correlations between all the variables that are numerica in
                        value
                    </p>
                    <p>
                        There is Positive correlation between parents education and final result
                        as well as a Positively strong correlation between the first two tests and the final
                        test.
                    </p>
                    <p>
                        There is negative correlation between age and the final result,a negative correlation
                        between free time and the final test, a negative correlation between travel time and
                        final test and a negative correlation between going out There is a negatively strong
                        correlation between failures and final result.
                    </p>
                    <div>
                        <a href="#" class="bordered-feature-image"><img src="{{url_for('static', filename='images/correlation1.png')}}" alt="" /></a>
                    </div>
                    <p>
                        Figure 2 shows the negative correlation between the failures and
                        the final test result:
                    </p>
                    <div>
                        <a href="#" class="bordered-feature-image"><img src="{{url_for('static', filename='images/Final_test_vs_Failures2.png')}}" alt="" /></a>
                    </div>
                    <p>
                        Figure 3 shows the positive correlation between the mothers
                        education and the final test result:
                    </p>
                    <div>
                        <a href="#" class="bordered-feature-image"><img src="{{url_for('static', filename='images/Final_test_vs_Mothers_education2.png')}}" alt="" /></a>
                    </div>
                    <p>
                        Figure 4 shows the negative correlation between the going out and
                        the final test result:
                    </p>
                    <div>
                        <a href="#" class="bordered-feature-image"><img src="{{url_for('static', filename='images/Final_test_vs_Going_out2.png')}}" alt="" /></a>
                    </div>
                    <p>
                        Figure 5 shows the negative correlation between the Daily
                        drinking and the final test result:
                    </p>
                    <div>
                        <a href="#" class="bordered-feature-image"><img src="{{url_for('static', filename='images/Final_test_vs_Daily_drinking2.png')}}" alt="" /></a>
                    </div>
                    <h3>Conclusion</h3>
                    <p>
                        Students whose parents have studied past secondary school have a slightly higher
                        chance of doing well in math. There is also slightly positive correlation between
                        students going out and final test results provided that they go out but not too
                        often
                    </p>
                    <p>
                        Students whose travel time is high, have more free time and have failed classes
                        multiple times have a lower chance of doing well in math. Students who drink daily
                        also seem to have a lower chance of doing well.
                    </p>
                    <p>
                        <a href="#">Link to the Github account that contains the student data used for the
                            diagrams as well as DNN regressor model to predict a students result</a>
                    </p>
                    <p>
                        The datasets were obtained from kaggle where you can get many free datasets and can
                        enter many kaggle competitions orientated around data science and data analytics.
                        The machine learning model was created with the help of the tensorflow website.
                    </p>
                </section>

            </div>
        </div>
    </div>
</section>
{% endblock %}
